<!-- Services Section -->
    <section id="careerprofile">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Profile</h2>
                    <h3 class="section-subheading"> A little bit about me </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Who am I?</h4>
                    <p class="text-muted">Experienced developer and a strong business development professional with a <b>Master’s Degree</b> focused in <b>Computer Applications</b> from Sardar Patel Institute of Technology.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">What do I do?</h4>
                    <p class="text-muted">I am a <b>logical thinker</b> and like <b>solving problems by leveraging technology.</b><br> I have worked on and delivered <b>ETL based solutions</b>, <b>Cloud Solutions</b> and Services using <b>Java</b> and <b>AWS</b>, <b>.NET Web application</b> and <b>Microservices</b> developed with .NET framework & .Net Core.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">How do I do it?</h4>
                    <p class="text-muted">Being an <b>autodidact</b>, I'm always inquisitive about new technology and trying out various <a href="https://github.com/chaitanya-suvarna" target="_blank">pet projects</a>.<br>
                      Never shying away from opportunities in different technical landscapes, I have contributed to projects on <b>different frameworks and technologies</b>.</p>
                </div>
            </div>
        </div>
    </section>
