<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary" ><br>
      </div>
    </div>
    <div class="row col-lg-offset-2">

      <ul class="list-inline ">
        {% for network in site.data.template.contact %}
        <div class="col-lg-2  text-center">
          <li><a href="{{ network.url }}" style="color: #fff;">
              <i class="fa fa-{{ network.icon }} fa-3x wow bounceIn" data-wow-delay=".1s"></i>

              <p>{{ network.title }}</p>

            </a>
          </li>
        </div>
        {% endfor %}
      </ul>

    </div>
</section>
