<!-- About Section -->
    <section id="journey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Journey</h2>
                    <h3 class="section-subheading text-muted">My Journey until now</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Research Paper Published</h4>
                                  <h4 class="subheading">February 2018</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted"><b>Publisher:</b> IEEE Xplore<br>
                                    <b>Efficient heart disease prediction system using optimization technique</b><br>
                                    MCA Final year <a href="https://ieeexplore.ieee.org/document/8282712/">research paper</a> <br>
                                  </p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Graduate Analyst at Barclays</h4>
                                  <h4 class="subheading">July 2017</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Joined as a Graduate Analyst at Barclays,Pune <br>
                                  - Primary Developer role for a ASP.Net MVC application <br>
                                  - FATCA/CRS Regulatory Report generation project<br>
                                  - <b>Technology Stack:</b> ASP.Net, EntityFramework, SSIS, SQL Server, Powershell, AutoSys
                                  </p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Completed Master of Computer Applications</h4>
                                  <h4 class="subheading">July 2017</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Sardar Patel Institute of Technology, Mumbai<br>
                                    University of Mumbai <br>
                                    Final CGPI <b>8.21</b>/10 <br>
                                  </p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Internship at Barclays</h4>
                                  <h4 class="subheading">January 2017 - July 2017</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">6 months internship at Barclays, Pune <br>
                                  - Intern at Legal run the bank team <br>
                                  - Developed 2 projects for final year evaluation :<br>
                                    1. <b>One-click Health Check </b><br>
                                          .Net Console application with Selenium<br>
                                    2. <b>One Stop Shop Service Management </b><br>
                                          ASP.Net Web Application

                                  </p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>JPMorgan Code For Good</h4>
                                  <h4 class="subheading">July 2016</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Was selected for Code For Good hackathon<br>
                                    - Team of 6 students from random colleges. <br>
                                    - Developed a working prototype within <b>24hours.</b> <br>
                                    - Our team was chosen as one of the <b>top 5 finalists</b> for our solution.
                                  </p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Internship at Credit Suisse</h4>
                                  <h4 class="subheading">June 2016 - July 2016</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">2 months internship at Credit Suisse, Pune <br>
                                  - Intern in automation testing team. <br>
                                  - Worked on test case automation using Selenium and Hexawise.<br>
                                  </p>
                              </div>
                          </div>
                      </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Master of Computer Applications</h4>
                                    <h4 class="subheading">Started on July 2014</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sardar Patel Institute of Technology, Mumbai
                                      Activities and societies :<br>
                                      - Chairperson, ACE Committee <br>
                                      - Student Member, Entrepreneurship Cell
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>B.Sc. Information Technology</h4>
                                    <h4 class="subheading">July 2011 - July 2014</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Usha Pravin Gandhi College of Management<br>
                                      Mumbai University <br>
                                      Final CGPA : <b>6.80/8</b> <br>
                                      Activities and societies :<br>
                                      - Mentorship program<br>
                                      - Guitarist, College music group
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Higher Secondoary School</h4>
                                    <h4 class="subheading">July 2009 - May 2011</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Thakur College of Science and Commerce<br>
                                      Vocation : Computer Science <br>
                                      Completed with Grade : <b>I</b>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Secondoary School</h4>
                                    <h4 class="subheading">June 2009</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Holy Cross Convent School <br>
                                      Completed with <b>Distinction</b></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Born</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
