<!-- About Section -->
    <section id="journey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Journey</h2>
                    <h3 class="section-subheading text-muted">My Journey till now</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                      {% for journey in site.data.template.journey %}
                      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                          {% if thecycle == 'odd' %}<li>{% else %}<li class="timeline-inverted">{% endif %}
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="img/journey/{{ journey.image }}" alt="{{ journey.header }}">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h4>{{ journey.header }}</h4>
                                      <h4 class="subheading">{{ journey.subheading }}</h4>
                                  </div>
                                  <div class="timeline-body">
                                      {{ journey.body }}
                                  </div>
                              </div>
                          </li>
                      {% endfor %}
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>Birth</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
